#checkbox{
background-color: grey;
border-radius: 5px;
}
p{
font-size: 25px;
}
#cancel{
margin-right: 3px;
}
body{
    border: 1px solid black;
    margin-right: 250px;  
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;         
    padding: 20px;
}